---
layout: main-sidebar
title: Projects Main Page
name: Projects
permalink: projects.html
---

<ul class="nav nav-tabs">
  <li><a href="index.html">I am Learning Things</a></li>
  <li class="active"><a href="projects.html">Projects</a></li>
  <li><a href="progress.html">Progress Blog</a></li>
  <li><a href="favorites.html">Favorite Things on the Internets</a></li>
</ul>


<section class="list postlist col-sm-8 blog-main">
  <h1>Class Projects</h1>
  
  {% for post in site.posts %}
  {% if post.categories contains "main-project" %}
    <article class="post-link">
      <div class="blog-header">
        <time>{{ post.time }}</time>
        <h2>
          <a href="{{ post.sitesrc }}" title="{{ post.title }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.copy }}</p>
      </div>
    </article>
  {% endif %}
{% endfor %}

  
</section>
