---
layout: main-sidebar
title: Progress Blog
name: Progress Blog
permalink: progress.html
---

<ul class="nav nav-tabs">
  <li><a href="index.html">I am Learning Things</a></li>
  <li><a href="projects.html">Projects</a></li>
  <li class="active"><a href="progress.html">Progress Blog</a></li>  
  <li><a href="favorites.html">Favorite Things on the Internets</a></li>
</ul>


<section class="list postlist col-sm-8 blog-main">
  <h1>Code All Day</h1>
  
  {% for post in site.posts %} 
    {% if post.categories contains "projects" %}
      <article class="post-link">
        <time>{{ post.date | date_to_string }}</time>
        <h2>
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </h2>
        <!-- <p>{{ post.categories }}</p> -->
        <p>{{ post.subtitle }}</p>
        <div class="clear"></div>
      </article>
    {% endif %}
  {% endfor %}
  
</section>


