---
layout: main-sidebar
title: Favorites
name: Favorite Things on the Internet
permalink: favorites.html
---

<ul class="nav nav-tabs">
  <li><a href="index.html">I am Learning Things</a></li>
  <li><a href="projects.html">Projects</a></li>
  <li><a href="progress.html">Progress Blog</a></li>  
  <li class="active"><a href="favorites.html">Favorite Things on the Internets</a></li>
</ul>

<section class="list postlist col-sm-8 blog-main">
  <h1>Digital Eye Candy</h1>
  
{% for post in site.posts %}
  {% if post.categories contains "favorites" %}
    <article class="post-link">
      <div class="blog-header">
        <time>{{ post.date | date_to_string }}</time>
        <h2>
          <a href="{{ post.sitesrc }}" target="_blank" title="{{ post.title }}">{{ post.title }}</a>
        </h2>
        </div>
      <div class="post-content">
        <p>{{ post.copy }}</p>
        <!-- <img src="{{ site.baseurl }}/img/{{ post.imgsrc }}"> -->
        <img src="{{ site.baseurl }}/img/{{ post.imgsrc }}">
      </div>
    </article>
  {% endif %}
{% endfor %}
   
</section>




