---
layout: main-sidebar
---


<ul class="nav nav-tabs">
  <li><a href="{{ site.baseurl }}/index.html">I am Learning Things</a></li>
  <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
  <li class="active"><a href="{{ site.baseurl }}/progress.html">Progress Blog</a></li>
  <li><a href="{{ site.baseurl }}/favorites.html">Favorite Things on the Internets</a></li>
</ul>

<section class="list postlist col-sm-8 blog-main">
  <div class="uno" role="main"> <!-- role is an accessibility bit. see more at a11yproject.com -->
  
    <p><a href="{{ site.baseurl }}/progress.html">&#8592; All Progress Posts</a></p>
  
    <h1>{{ post.title }}</h1>

    {{ content }}
    
  </div>
</section>



